.cpcache/
.calva/output-window/
.classpath
.clj-kondo/.cache
.DS_Store
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.shadow-cljs/
telemetry-data/
.vscode
*.class
*.jar
*.swp
*~
/checkouts
/classes
/target
