{:deps true

 ;; Serve frontend from shadow on 9630, but proxy backend endpoints to 8080
 :dev-http
 {9630 {:root      "resources"          ; so /dashboard works
        :proxy-url "http://localhost:8080"}} ; /api/*, /ws, etc -> backend

 :builds
 {:app
  {:target :browser

   ;; compiled output lives under resources/, served by dev-http above
   :output-dir "resources/js"
   :output-to  "resources/js/main.js"
   :asset-path "/js"

   :modules {:main {:init-fn aeonik.app/init}}

   :devtools
   {:preloads [shadow.cljs.devtools.client.browser]
    :reload-strategy :full
    :autoload true}

   :compiler-options
   {:optimizations :none
    :source-map true}}}}
